.config/Android Open Source Project
.config/arduino-ide
.config/Arduino IDE 
.config/autostart
.config/Bitwarden
.config/BraveSoftware
.config/cef_user_data
.config/Code
.config/discord
.config/GitKraken
.config/Google
.config/google-chrome
.config/grammarly-languageserver
.config/JetBrains
.config/kde.org
.config/Kitware
.config/libreoffice
.config/libvirt
.config/light
.config/lutris
.config/matplotlib
.config/menus
.config/Microsoft
.config/Microsoft Teams - Preview
.config/nemo
.config/notion-app-enhanced
.config/nvim
.config/obs-studio
.config/Optimus Manager
.config/procps
.config/protonvpn
.config/pulse
.config/pupgui
.config/qalculate
.config/Raven Reader
.config/session
.config/solaar
.config/sqlitebrowser
.config/systemd
.config/Teams
.config/Thunar
.config/Torbrowser
.config/Transmission
.config/var
.config/virt-viewer
.config/VirtualBox
.config/vlc
.config/wireshark
.config/xfce4
.config/xm1
.config/yay
.config/droidcam
.config/krusaderrc
.config/mimeapps.list
.config/pavucontrol.ini
.config/QtProject.conf 
.config/swtpm-localca.conf
.config/swtpm-localca.options
.config/swtpm_setup.conf
.config/zoom.conf
.config/zoomus.conf
.alwaysai
.android 
.arduion15
.arduinoIDE 
.cache
.cargo
.cert
.emacs.d
.gitkraken 
.gk 
.gnupg
.gphoto
.gradle
.ipython
.java
.jupyter
.local 
.m2 
.minecraft 
.mozilla
.npm
.nv 
.pki 
.pvpn-cli 
.pvpn-gui
.pygui
.pyenv
.rustup
.ssh
.steam
.texlive
.tlauncher
.var
.vmware
.vscode
.vscode-cli
.vscode-oss
.w3m
.wine
.zoom
Android
AndroidStudioProjects
Arduino
Downloads
git 
go 
IdeaProjects 
Screenshots
snap
texmf
VirtualBox VMs
wineapps
.emulator_console_auth_token
.kotlinc_history
.lesshst
.notion-enhancer
.p7zip
.steampath
.steampid
.viminfo
.wget-hsts




